@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif !important;
}

/* common styles */
.zk-icon{
  fill: gray;
}
.gray {
  color: #898CA6;
}
.dark-gray {
  color: #1E1E2F;
}
.dim-gray {
  color: #626577;
}
.dark-color {
  color: #001233;
}

.light-gray {
  color: #9B9B9B
}
.ash {
  color: #888888;
}
.light-blue {
  color: #9FA2B8;
}

.darkblue {
  color: #003380;
}

.fontSize-twelve {
  font-size: 12px !important;
}
.fontSize-thirteen {
  font-size: 13px !important;
}
.fontSize-forteen {
  font-size: 14px !important;
}
.fontSize-sixteen {
  font-size: 16px !important;
}
.fontSize-eighteen {
  font-size: 18px !important;
}
.fontSize-twentyfour {
  font-size: 24px !important;
}
.fontSize-twentysix {
  font-size: 26px !important;
}
.fontSize-thirtytwo {
  font-size: 32px !important;
}
